{% extends('padrao.html') %}
{% block content %}
<h1 style="text-shadow: 2px 2px red;">Saudações 🖖</h1>
<h2>Meu nome é Michell!</h2>
    <p>Estou aprendendo programação em python e web<p>
    <p>Estou cursando Ciencia da Computação na UNIC</p>
    <h2> contate-me:</h2>
    <p> E-mail: michellvasconcelos58@gmail.com </p>
    <h3> <a href="https://www.instagram.com/michell_vasconcelos10/" target="_blank"> Instagram</a></h3>
    <h2> Me veja também!:
    <h3> <a href="https://github.com/MHCBA" target="_blank">Github</a><h3>
    <h3> <a href="https://www.linkedin.com/in/michell-vasconcelos-71774a28a/" target="_blank">Linkedin</a><h3>
{% endblock %}